<div class="container-fluid p-0 m-0">
    <div class="image-container">
        <div class="wrap-image">
            <div class="form-container" id="forgot-password">
                <figure id="logo" class="d-flex justify-content-center" data-hook>
                    <%= logo img_options: { class: 'img-responsive my-auto mx-auto', width: '250'} %></figure>
                <div data-hook="signup">
                    <h5 class="lead text-center my-4"><%= t('spree.forgot_password') %></h5>
                    <p><%= t('spree.instructions_to_reset_password') %></p>
                    <%= form_for Spree::User.new, as: :spree_user, url: spree.reset_password_path do |f| %>
                    <div class="form-floating">
                        <%= f.email_field :email, required: true, class: 'form-control my-4' %>
                        <%= f.label :email, t('spree.email') %>
                    </div>
                    <p>
                        <%= f.submit t('spree.reset_password'), class: 'btn btn-dark w-100' %>
                    </p>
                    <% end %>
                </div>
            </div>
            <div class="img-container overlay-gradient-bottom"
                style="background-image: url('https://images.unsplash.com/photo-1599420186946-7b6fb4e297f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');">
            </div>
        </div>
    </div>
</div>
